@facebook_face: #fddb73;
@facebook_like: #5d9ff5;
@facebook_love: #f25268;
@facebook_facial_features: #262c38;
@facebook_tongue: #f25268;
@facebook_tear: #5890ff;

// angry gradient:
// start colour 0-0.24
// end colour 1.00
// (bottom up)
@facebook_angry_start: #ffd872;
@facebook_angry_end: #ec4f65;
