@unicode_facebook_like: "\1f44d";
@unicode_facebook_love: "\2764";
@unicode_facebook_haha: "\1f602";
@unicode_facebook_wow: "\1f62f";
@unicode_facebook_sad: "\1f613";
@unicode_facebook_angry: "\1f621";
